hr {
    margin-bottom: 50px;
    height: 0.01px;
    background-color:#cdcdcd;
}

.nav {
    position: relative;
    line-height: 3em;
    padding: 5px;
    overflow: hidden;
}

.nav a {
    float: right;
    margin-left: 4vw;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #5c5c5c;
    text-decoration: none;
    font-size: 20px;
}

.nav a.header {
    float: left;
    font-weight: 900;
    margin-left: 0vw;
}

.nav a:hover {
    color: #2e2e2e;
}

.nav a.active {
    font-weight: 900;
}

body {
    margin: 50px 150px;
    line-height: 1.75em;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
}

h1 {
    color: #1978b2;
    font-weight: 800;
    font-size: 60px;
}

h2 {
    font-weight: 700;
    font-size: 35px;
    text-decoration: none;
}

.company {
    margin-bottom: -15px;
}

.company a {
    color: #2e2e2e;
    text-decoration: none;
}

.company a:hover {
    color: #5c5c5c;
    text-decoration: none;
}

h3 {
    font-weight: 600;
    font-size: 20px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.intro {
    padding-left: 5%;
    padding-right: 30%;
    line-height: 1.75em;
}

.menu {
    line-height: 3em;
    color:#5c5c5c;
    font-size: 16px;
}

.menu a {
    padding-bottom: 5px;
    text-decoration: none;
}

.menu a:hover {
    color: #000000;
}

.section {
    padding-left: 10%;
    padding-right: 30%;
    text-decoration: none;
}

.subtitle {
    margin-top: 50px;
    color: #9d9d9d;
    text-decoration: none;
}

img.profile {
    margin-top: 40px;
    margin-bottom: 25px;
    width: 175px;
    border-radius: 50%;
}

img.icon {
    margin-right: 10px;
    width: 15px;
}