@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background-color: #EEEEEE;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.spacer {
  aspect-ratio: 900/250;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.wave-1 {
  background-image: url('./assets/wave1.svg');
}

.wave-2 {
  background-image: url('./assets/wave2.svg');
  transform: scale(-1,-1);
}